.directory
.org-id-locations
.python-environments
ac-comphist.dat
auto-save-list
bookmarks
ede-projects.el
elpa
eshell
nameses-sessions
org-caldav*
projectile-bookmarks.eld
recentf
saveplace
semanticdb
session*
srecode-map.el
tramp
tutorial
url
